* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {
    height: 60px;
    width: 100vw;
}

h1 {
    margin-left: 10px;
}

section {
    border:1px solid black;
}

nav {
    background: white;
    border-bottom: 1px solid black;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100vw;
    top: 0;
   
}

.nav-links, .view-trails {
    text-decoration: none;
}

.fa-bars {
    font-size: 1.2em;
    margin-right: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 5px;
}

.intro-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.home-search {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.close-search-button {
    align-self: flex-end;
    font-size: 1.2em;
}

.view-trails {
    margin: 10px 0 20px;
}

.search-city-date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 407px;
    width: 60vw;
    margin: 0 auto;
}

.main-search {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.refine-search {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    list-style: none;
}

.trails-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.trail-results {
    padding: 0;
}

.trail-results > li {
    width: 100vw;
}

.trail-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trail-details {
    display: flex;
}

.trail-photo {
    
    min-width: 208px;
    margin: 0 auto;
    max-width: 318px;
}

.rating, .trail-length {
    width: 50%;
    margin-right: 0;
}

.trail {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.to-do-list-title {
    width: 70vw;
    text-align: right;
}

.edit-activity {
    border: 1px solid black;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    padding: 0;
    margin: 0 auto;
    min-height: 230px;
}

.act-and-times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.activities > li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-height: 30px;
}

.edit-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.edit-button {
    width: 50px;
    height: 38px;
}

.times-or-notes {
    min-height: 20px;
}

.hide-refine-search, .hide-edit, .hide-add-activity, .hide-search, .hide-results {
    display: none;
}

.refine-title:hover {
    cursor: pointer;
}

.to-do-list-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}

.times-and-list {
    display: flex;
    justify-content: space-around;
}

.suntimes, .planning-to-do-list {
    min-height: 40vh;
}

.suntimes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.suntimes > h5 {
    font-size: 0.85em;
}

.planning-to-do-list {
    border: 1px solid black;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-name {
    margin-bottom: 0;
}

.date {
    font-size: 1.2em;
}

.daytime {
    text-align: center;
}
.time-values {
    font-size: 0.85em;
}

.adding-activity {
    margin: 0 auto;
    width: 80vw;
    height: 90px;
}

.close-activity-button {
    text-align: right;
}

.activity-input-and-button {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.adding-activity > label {
    width: 45%;
   
}

.activity-input {
    width: 75%;
    height: 30px;
}

.add-activity-button {
   border-radius: 5%;
   width: 80px;
   height: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.add-activity-button:hover {
    cursor: pointer;
}

.add-activity-button > .fa-plus-circle {
    font-size: 1.75em;
}

.add-search-buttons {
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.close-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 769px) {

    .responsive {
        display: none;
    }

    .respond-to-hamburger {
        background-color: cornflowerblue;
        position: absolute;
        width: 100%;
        padding-left: 0;
        text-align: center;
        min-height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 60px;
        margin-top: 0;
    }

    
}

@media screen and (min-width: 770px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        width: 50vw;
        align-items: center;
        overflow: hidden;
    }
    
    .hamburger-icon {
        display: none;
    }

}