$primary-color: #EDFFC2;
$secondary-color: #379937;
$third-color: #87CC87;
$fourth-color: #FFF;
$fifth-color: #000;
$sixth-color: #2B502B;

$primary-font-family: 'Muli', Arial, Helvetica, sans-serif;
$secondary-font-family: 'Quando', 'Times New Roman', Times, serif;